body { 
    background-image: url("./back.jpg");
    background-attachment: fixed;
    margin: auto;
}
#main-sektio {
    width: 355px;
    height: 600px;
    left: 45%;
    top: 20%;
    background-color: rgb(157, 51, 218);
    padding: 0;
    position: fixed;

}
#nimi {
    width: 350px;
}
#ika {
    width: 350px;
}
#email{
    width: 350px;
}
#palaute {
    max-width: 355px;
    max-height: 300px;
}